@charset "utf-8";
body,
th,
td,
p,
ol,
ul,
li,
dl,
dt,
dd,
a,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
input,
legend,
select,
textarea {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

input,
img,
fieldset {
    border: none
}

input,
select,
fieldset {
    vertical-align: middle
}

body,
button,
input,
select,
textarea {
    outline: none;
}

ul,
ol,
nav li {
    list-style-type: none;
}

a {
    text-decoration: none;
    outline: none;
}

a:link {
    text-decoration: none
}

a:hover {
    text-decoration: none
}

a:active {
    text-decoration: none
}

a:visited {
    text-decoration: none
}

i,
cite,
em,
var,
address,
dfn {
    font-style: normal;
}

input:-ms-clear {
    display: none;
}


/* clear IE10 X */

// common css
.clear:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    line-height: 0;
    visibility: hidden;
}

// position
.tl {
    text-align: left;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.bc {
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.vm {
    vertical-align: middle;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.zoom {
    zoom: 1
}

.none {
    display: none;
}

.block {
    display: block;
}

// font
.yahei {
    font-family: "Microsoft YaHei",
}

.f12 {
    font-size: 12px;
}

.f13 {
    font-size: 13px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f20 {
    font-size: 20px;
}

.fb {
    font-weight: bold;
}

.fn {
    font-weight: normal;
}

.t2 {
    text-indent: 2em;
}


/*inline-block*/

.dib {
    display: inline-block;
    *display: inline;
    *zoom: 1
}


/* ellipsis */

.elli {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mr6 {
    margin-right: 6px;
}

.w10 {
    width: 10px;
}

.h10 {
    height: 10px;
}