[v-cloak] { display: none }
.part {
	width: 100%;
	height: 921px;
	overflow: hidden;
}

.part0 {
    background: #C99
}

.part1 {
    background: #846c68;
}

.part2 {
    background: #C9F
}

.part3 {
    background: #CF9
}

.part4 {
    background: #F99
}

.part5 {
    background: #CFF
}

.footer {
    width: 100%;
    height: 60px;
    background: #000
}

.right-nav {
    position: fixed;
    right: 0;
    top: 100px;
    width: 200px;
    li {
	    width: 100px;
	    padding: 20px 0;
	    border: 1px solid #F30;
	    margin: 4px auto;
	    text-align: center;
	    color: #000;
	    list-style: none;
	    cursor: pointer;
	    &.current{
	        background: #F30;
	        color: #FFF
	    }
	}
}